*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lato', sans-serif;
}
.gris{
	background: #eee;
}
.contenido{
	width: 80%	;
	margin: auto;
}
/*Estilos del header*/
header{
	background: rgb(39,59,71);
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
	align-items: center;
	height: 60px;
}

header a img{
	width: 85px;
	padding-left: 5px;
}
nav, nav ul, nav li, .elem-izq, nav a{
	height: inherit;
}
nav ul{
	display: inline-flex;
}

nav li {
	list-style: none;
	color: white;
	display: flex;
	align-items: center;
}

nav li:after{
	content: "|";
	display: inline-block;
	color: white;
	padding-left: 5px; 
}

nav li:last-child:after{
	display: none;
}

nav a{
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0 3px 0 6px;
}

nav a:hover{/*,.hover */
	box-shadow: inset 0 7px 0 #7dcd40;
	transform: scale(1.1);
}
nav a:active {/*,.active*/
	box-shadow: inset 0 7px 0 rgb(255, 72, 66);
	padding-top: 5px;
	transform: scale(.9);
}
.elem-izq{
	display: flex;
	align-items: center;
	font-size: 15px;
}
.boton{
	background: rgb(255, 72, 66);
	border: none;
	border-radius: 4px;
	padding: 6px 8px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: white;
	cursor: pointer;
	box-shadow: inset 0px -4px 0 0 rgba(208,39,42,0.75);
	margin: 12px 5px 12px 18px;
	text-decoration: none;

}
.boton:focus, .busqueda button:focus{
	outline: none;
}

.boton:hover{
	background: rgb(125, 205, 64);
	box-shadow: inset 0px -4px 0 0 rgba(88,153,40,0.75);
}
.boton:active{
	background: rgba(88,153,40,0.75);
	box-shadow: inset 0px -4px 0 0 rgb(125, 205, 64);
	transform: scale(.9);
}

.busqueda{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 30px;
	padding: 7px 0;
}
.busqueda input{
	height: inherit;
	margin-right: 3px;
	border:none;
	padding: 0 8px;
	border-radius: 5px;
	outline: none;
}
.busqueda input:focus{
	box-shadow: inset 0px 0px 10px 1px #ccc;
}
.busqueda button{
	height: inherit;
	width: 30px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #333;
	background-image: url(../images/search-white.svg);
	background-size: 15px;
	background-position: center; 
	background-repeat: no-repeat;
}

.busqueda button:hover{
	background-color: #444;
	background-image: url(../images/search-grey.svg);
}
.busqueda button:active{
	transform: scale(.9);
}
/*Estilo para el placeholder*/
input::-webkit-input-placeholder{
	color: silver;
	font-size: 13px;
	font-family: 'Lato', cursive;
}
input:-moz-placeholder{
	color: silver;
	font-size: 13px;
	font-family: 'Lato', cursive;	
}
input:-ms-input-placeholder{
	color: silver;
	font-size: 13px;
	font-family: 'Lato', cursive;
}

.portada{
	background-image: url(../images/libros.jpg);
	background-size: cover;
	height: 400px;
	display: flex;
	align-items: flex-end;
}

.noticia-destacada{
	margin: 0 0 25px 15px;
	width: 50%;
	background-color: rgba(238,238,238,0.8);
	padding: 15px;
}

.noticia-destacada h1,
.noticias h2{
	font-family: 'Allerta', sans-serif;
	color: #515151;
	font-size: 23px;
	font-weight: normal;
	border-bottom: 0.5px solid #939393;
}

.noticia-destacada h1{
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.info-escritor, 
.escritor{
	font-family: 'Happy Monkey', cursive;
	font-size: 13px;
	color: #333;
}
.avatar,
.avatar p,
.info-escritor time{
	display: flex;
	align-items: center;
}
.avatar img{
	width: 30px;
	border-radius: 50%;
	margin-right: 8px;
}

.avatar p{
	height: 100%;
}
.info-escritor{
	display: flex;
	justify-content: space-between;
}

/*Estilos para la seccion de notcias*/
main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.noticias{
	width: 31.5%;
	cursor: pointer;
	margin-top: 20px;
}

.noticias:hover{
	outline-style: solid;
	outline-color: rgba(125, 205, 24, 0.5);
	outline-width: 3px;
}
.noticias:active{
	transform: scale(.95);
}
.noticias img{
	width: 100%;
}
.noticias a{
	text-decoration: none;
}
.noticias h2{
	font-size: 19px;
	margin-top: 4px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.escritor{
	display: flex;
	font-size: 13px;
	justify-content: space-between;
}
